body {
	font-family: Verdana, Geneva, sans-serif;
}
.bold {
	font-weight: bold;
}
#kreis {
	height: 150px;
	width: 150px;
	background-color: red;
	border-radius: 150px;
	display: none;
	position: relative;
}